body {
    margin: 0%;
    background-color: #e6ffcc;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .title1 {
    padding-left: 10%;
    padding-top: 4%;
  }
  small {
    padding-left: 10%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }
  
  .offcanvas-start {
    /* Dynamic width based on content */
    max-width: max-content; /* Optional: Add a maximum width */
  }
  /* Custom styles for the footer */
  .footer {
    background-color: #222;
    color: #fff;
    padding: 2% 0;
  }
  .footer h5 {
    font-size: 16px;
    margin-bottom: 2%;
  }
  .footer .social-icons a {
    color: #fff;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s;
  }
  .footer .social-icons a:hover {
    color: #007bff;
  }
  .footer p {
    font-size: 14px;
    color: #ccc;
  }
  .footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer .col {
    flex: 1;
    margin-bottom: 2px;
  }
  
  /* Make footer responsive */
  @media (max-width: 767px) {
    .footer .container {
      flex-direction: column;
      align-items: center;
    }
    .footer .col {
      margin-bottom: 15px;
      text-align: center;
    }
  }
  